#SideNavbar {
  width: 300px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  /* display: none; */
  /* background-color: #eceef0; */
  #add-button{
    position: relative;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 14px;
    button{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 6px;
      outline: none;
      font-size: 28px;
      font-weight: bolder;
      background-color: white;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.171);
      transition: .2s;
      p{
        font-size: 18px;
        margin: 0;
      }
      &:hover{
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.349);
      }
    }
  }
  .navbarLink {
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 1px;
    a {
      color: #000000d3;
      margin-left: 20px;
      display: flex;
      gap: 10px;
      padding: 4px 10px;
      align-items: center;
      flex: 1;
      svg {
        font-size: 22px;
      }
      p {
        margin: 5px;
        white-space: nowrap;
      }
    }
    &:hover:not(.activeLink) {
      background-color: rgba(0, 0, 0, 0.048);
    }
  }
  #dropDown {
    position: absolute;
    font-size: 18px;
    color: #000000d3;
  }
  .navbarLink2 {
    margin-left: 40px;
  }
  .activeLink {
    background-color: #4071f4;
    a,
    svg {
      color: white !important;
    }
  }
  @media only screen and (max-width: 1340px) {
    position: absolute;
    width: 300px;
    height: calc(100vh - 40px);
    /* display: none; */
    z-index: 999;
    top: 0;
    left: 0;
    margin: 0;
    padding: 20px;
    background-color: inherit;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.24);
    h2{
      margin-top: 60px;
    }
  }

}

#menuBtn{
  position: absolute;
  display: none;
  top: 20px;
  left: 20px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  color: #0a4ef5;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.445);
  cursor: pointer;
  svg{
    font-size: 28px;

  }
  @media only screen and (max-width: 1340px) {
    display: flex;
  }
}